/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 13px;
    /* outline: 2px solid red; */
}

:root {
    --font: 'Basic', sans-serif;
    --headerFont: 'Berkshire Swash', serif;

    --constrastColor: #ff762a;
    --background: #2b2b2b;

    --input: #ededed40;

    --fontColor: #ededed;
    --placehoder: #edededbf;
    --instruction: #ededed80;

    --innerShadow: #00000033;
    --innerShadow2: #0000001a;
    --innerGlimmer: #ededed40;
    --dropShadow: #0000001a;
}

.light {
    --background: #ededed;

    --input: #2b2b2b1a;

    --fontColor: #2b2b2b;
    --placehoder: #2b2b2b1a9;
    --instruction: #2b2b2b80;

    --innerShadow: #2b2b2b33;
    --innerShadow2: #2b2b2b0d;
    --innerGlimmer: #ffffff40;
    --dropShadow: #2b2b2b1a;
}

header {
    margin: 38px 38px 66px 38px;

    display: flex;
    flex-direction: column;
    align-items: end;
}

#switch {
    display: flex;
    justify-content: left;
    align-items: center;

    height: 40px;
    width: 76px;
    border-radius: 25px;
    margin-bottom: 38px;
}

#switch button {
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
}

header h1 {
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
    font-family: var(--headerFont);
    word-spacing: 6px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    max-width: 300px;
    width: 80vw;
    margin: auto;
}

input {
    height: 40px;
    padding: 12px;
    border-radius: 16px;
}

::-webkit-input-placeholder {
    
}

.opcional {
    display: flex;
    flex-direction: column;
    position: relative;
}

.opcional span {
    padding: 0 12px;
    position: absolute;
    top: -17px;
    left: 0;
}

#withLabels {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
}

.smallInput {
    max-width: 130px;
    width: 30vw;
}

#results {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    
    padding: 24px 0;
}

#results p, i{
    font-size: 1.8rem;
}

#generate {
    width: 100%;
    max-width: 300px;
    margin: auto;
    height: 60px;
    font-size: 1.8rem;
    border-radius: 24px;
    letter-spacing: .5rem;
}

/* Media Query for Desktoip */
@media (min-width: 768px) {
    header {
        margin: 38px 38px 88px 38px;
    
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    
    header h1 {
        width: initial;
    }
    
    #switch {
        margin: 0;
    }

    #space {
        height: 40px;
        width: 76px;
    }

    main {
        max-width: 600px;
        width: 80vw;
        margin: auto;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    #withLabels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .smallInput {
        margin-left: 6px;
    }

    #results {   
        padding: 48px 0;
    }
}